/* ~~~~~~~~~~~~~~ */
/* color variables */
/* ~~~~~~~~~~~~~~ */
:root {
  --primaryColor: #444444;
  --secondaryColor: #ffdd67;
}
.content {
  /* border: solid black; */
  grid-area: c;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: justify;
  /* padding: 5%; */
}
